# Dependencies
node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# package-lock.json is needed for npm ci
yarn.lock

# Build outputs
dist
build
coverage
.nyc_output

# Tests
__test__
test
*.spec.ts
*.test.ts

# Development files
scripts
.git
.gitignore
.github
.vscode
.idea

# Config files
.*
!.swcrc
!.nvmrc

# Docs
README.md
CHANGELOG.md
docs

# Misc
*.log
.DS_Store